body {
    font-family: 'Lato', sans-serif;
    background: #f1f1f1;;
    color: #434343;
}

h1 {
    font-size: 2.4rem;
    margin: 2.6rem auto;
    text-align: center;
}

h2 {
    margin-top: 3.4rem;
    text-align: center;
}