/* Cards styling */

.card {
    background: white;
    margin: 2rem 0;
}

.card a {
    color: black;
    text-decoration: none;
}

.card {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow .2s ease-in-out;
}

.card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-thumbnail {
    margin: 0;
}

.card-thumbnail img {
    width: 100%;
}

.card-content {
    padding: 1.4rem;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    color: #343434;
    font-weight: normal;
    text-align: left;
}

.card-content p {
    font-size: 0.95rem;
    color: #686868;
}

/* Flex Layout */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (min-width: 30em) and (max-width: 40em) {
    .card {
        flex: 0 1 calc(50% - 1rem);
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .card {
        flex: 0 1 calc(33% - 1rem);
    }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .card {
        flex: 0 1 calc(25% - 1rem);
    }
}

@media only screen and (min-width: 90.063em) {
    .card {
        flex: 0 1 calc(20% - 1rem);
    }
}