/* Base styles that apply to all menus */

.menu {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: #4A4A4A;
    padding: .6em 1em;
}

.menu li a:hover {
    background: #F1F1F1;
}