@media screen and (min-width: 30em) {
    .nav-single-level ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav-single-level li {
        flex: 1 0 auto;
        text-align: center;
    }

}