@media screen and (min-width: 30em) {
    .menu.nav-single-level ul {
        background: #232323;
    }

    .menu.nav-single-level li a {
        color: #d0d0d0;
    }

    .menu.nav-single-level li a:hover {
        background: #2f2f2f;
    }
}